{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="display-1">Welcome To Soccer World!</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}