{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Login</h1>

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form._username) }}
            {{ form_row(form._password) }}
            <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
        {{ form_end(form) }}
    </div>
{% endblock %}